@import './variables';

.main {
    width: 100%;
    margin-top: 15%;
    padding: 0 25% 5% 5%;

    .introduction, .project, .getInTouch {
        width: 100%;
        height: auto;
        @include mobile {
            width: 80%;
        }
    }
    .main_content:not(.getInTouch) {
        margin-bottom: 30%;
        @include mobile {
            margin-bottom: 20%;
        }
    }
    @include mobile {
        padding: 0%;
        @include flexCenter(column, center, center);
    }
    a {
        cursor: pointer;
    }
}

@import "./aboutMe";
@import "./singleProject";
@import "./getInTouch";